<a href="https://colab.research.google.com/github/kimimumemo/Computational-Finance-/blob/main/Call%20Option%20for%20American%20and%20European%20Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import random
import math
import statistics
import scipy
import matplotlib.pyplot as plt
from scipy.stats import norm

In [ ]:
# parameter
s_0 = 100 # nilai awal
X = 90 # strike price
r = 0.06 # tingkat suku bunga bebas resiko
sigma = 0.15 # volatilitas
T = 1 # waktu jatuh tempo
N = 5 # banyak selang waktu

delta_t = T/N

In [ ]:
u = np.exp(sigma*math.sqrt(delta_t))
d = np.exp(-1*sigma*math.sqrt(delta_t))
p = (np.exp(r*delta_t)-d)/(u-d)

In [ ]:
s_zeros = np.zeros((N+1,N+1))

In [ ]:
# mengalikan S0 dengan u dan d sesuai dengan urutan

for i in range(0,N+1):
  for j in range(0,N+1):
    if i >= j:
      s_zeros[i,j] += s_0*u**(i-j)*d**(j)

In [ ]:
s_zeros

array([[100.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ],
       [106.93832061,  93.51184817,   0.        ,   0.        ,
          0.        ,   0.        ],
       [114.35804414, 100.        ,  87.44465748,   0.        ,
          0.        ,   0.        ],
       [122.29257188, 106.93832061,  93.51184817,  81.77111534,
          0.        ,   0.        ],
       [130.77762259, 114.35804414, 100.        ,  87.44465748,
         76.46568122,   0.        ],
       [139.85139333, 122.29257188, 106.93832061,  93.51184817,
         81.77111534,  71.50447173]])

### Harga Opsi Eropa

In [ ]:
f_zeros_eropa = np.zeros((N+1,N+1))

In [ ]:
# mencari harga opsi pada langkah ke-T

for j in range(0,N+1):
  f_zeros_eropa[N,j] += max(X-s_zeros[N,j],0)

In [ ]:
f_zeros_eropa

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  8.22888466,
        18.49552827]])

In [ ]:
for i in range(N-1,0,-1):
  for j in range(0,N):
    if i >= j:
      f_zeros_eropa[i,j] += np.exp(-1*r*delta_t)*(p*f_zeros_eropa[i+1,j]+(1-p)*f_zeros_eropa[i+1,j+1])

In [ ]:
f_zeros_eropa

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.26037338,  1.98368194,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.61735174,  3.87441466,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  1.4637563 ,  7.22088545,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  3.4706025 , 12.46077294,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  8.22888466,
        18.49552827]])

In [ ]:
f_final_eropa = np.exp(-1*r*delta_t)*(p*f_zeros_eropa[1,1]+(1-p)*f_zeros_eropa[1,0])
f_final_eropa

1.2331998849660841

### Harga Opsi Amerika

In [ ]:
f_zeros_amerika = np.zeros((N+1,N+1))

In [ ]:
# mencari harga opsi pada langkah ke-T

for j in range(0,N+1):
  f_zeros_amerika[N,j] += max(X-s_zeros[N,j],0)

In [ ]:
f_zeros_amerika

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  8.22888466,
        18.49552827]])

In [ ]:
for i in range(N-1,0,-1):
  for j in range(0,N):
    if i >= j:
      f_zeros_amerika[i,j] += max(X-s_zeros[i,j],np.exp(-1*r*delta_t)*(p*f_zeros_amerika[i+1,j]+(1-p)*f_zeros_amerika[i+1,j+1]))

In [ ]:
f_zeros_amerika

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.26037338,  2.16298512,  0.        ,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.61735174,  4.29954695,  0.        ,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  1.4637563 ,  8.22888466,  0.        ,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  3.4706025 , 13.53431878,
         0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  8.22888466,
        18.49552827]])

In [ ]:
f_final_amerika = np.exp(-1*r*delta_t)*(p*f_zeros_amerika[1,1]+(1-p)*f_zeros_amerika[1,0])
f_final_amerika

1.3347416355272586